numba==0.61.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.6.0
scipy==1.14.1
tqdm==4.66.3
cloudpickle==3.0.0
matplotlib==3.10.3
cvxpy==1.5.2
statsmodels==0.14.2
pytest==7.3.1
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
docutils==0.21.2
